<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>BUYSELL</title>
</head>
<body>
<h1>BUYSELL</h1><hr>
<h4>Регистрация</h4>

<form th:action="@{/registration}" method="post">
    <label for="name">Имя пользователя: </label>
    <input type="text" name="name" id="name">
    <br><br>
    <label for="email">Эл. почта: </label>
    <input type="email" name="email" id="email">
    <br><br>
    <label for="number">Номер телефона: </label>
    <input type="text" name="phoneNumber" id="number">
    <br><br>
    <label for="pass">Пароль: </label>
    <input type="password" name="password" id="pass">
    <br><br>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="submit" value="Зарегистрироваться"/>
</form>

</body>
</html>